$color-background: #f1f2f0;
$color-base: #35342f;
$color-dim: lighten($color-base, 15%);
$color-highlight: $color-base;
$color-highlight-background: #37bbe4;
$color-dim-background: darken($color-background, 20%);

body {
  background: $color-dim-background;
}

.main-content {
  padding: 1em;
  margin-bottom: 5em;
}

@mixin card {
  width: 100%;
  max-width: 360px;
  display: block;
  margin: 0 auto;
  padding: 1em;
  float: none;
  background: $color-background;
}

p {
  margin: 1em 0;
}
